.h2GetInTouch,
.signInTo {
  align-self: stretch;
  position: relative;
}
.h2GetInTouch {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.signInTo {
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--font-lexend-deca);
}
.sectionTitle {
  width: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  flex-shrink: 0;
}
.formBlockLabel,
.yourFullName {
  position: relative;
  text-align: left;
}
.formBlockLabel {
  align-self: stretch;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-livvic);
  color: var(--color-white);
}
.yourFullName {
  width: 96px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 20px;
  line-height: 140%;
  color: var(--color-gray-100);
  display: inline-block;
  padding: 0;
}
.formTextInput,
.inputWrapper {
  align-self: stretch;
  display: flex;
}
.formTextInput {
  background-color: var(--color-firebrick);
  border: 1px solid var(--color-firebrick);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xs);
}
.inputWrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.password {
  margin: 0;
}
.formBlockLabelContainer,
.mecompanycom {
  position: relative;
  text-align: left;
  display: inline-block;
}
.formBlockLabelContainer {
  align-self: stretch;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-livvic);
  color: var(--color-white);
  min-height: 40px;
}
.mecompanycom {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 20px;
  flex: 1;
  line-height: 140%;
  color: var(--color-gray-200);
  min-width: 250px;
  white-space: nowrap;
  max-width: 100%;
  padding: 0;
}
.formTextInput1,
.inputWrapper1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.formTextInput1 {
  background-color: var(--color-firebrick);
  border: 1px solid var(--color-firebrick);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xs) var(--padding-5xs);
}
.inputWrapper1 {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-5xs);
}
.login {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-livvic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 38px;
}
.formButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-5) var(--padding-xl);
  background-color: var(--color-gray-300);
  width: 347px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.formButton:hover {
  background-color: var(--color-gainsboro);
}
.container,
.form,
.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.form {
  margin: 0;
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-base);
}
.container,
.formWrapper {
  align-items: center;
}
.formWrapper {
  width: 500px;
  flex-shrink: 0;
}
.container {
  width: 1200px;
  height: 336px;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-livvic);
}
@media screen and (max-width: 750px) {
  .h2GetInTouch {
    font-size: var(--font-size-13xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 675px) {
  .container {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .h2GetInTouch {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
}
